body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: Calibri;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    font-family: 'Permanent Marker', cursive;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    padding: 0 1vw 0 1vw;
    font-weight: bolder;
}

ol {
    list-style: none;
    padding: 0;
}

ol li {
    position: relative;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    position: relative;
}

.container-fluid {
    min-height: 100vh;
    max-width: 100vw;
}

.container {
    margin: 7.5vh 10vw 5vh 10vw;
    text-align: center;
}

.navbar {
    background-color: #0000af;
}

nav {
    display: block;
    padding: 2vh 0 2vh 0;
}

.nav-item {
    text-align: center;
    font-size: 105%;
    color: #e5e5e5;
    margin: 0;
    padding: 0 1vw 0 1vw;
    border-radius: 2px;
    border-right-color: azure;
    text-decoration: none;
}

.nav-item:hover {
    font-weight: bolder;
}

.right {
    float: right;
}

div.split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

.error {
    text-align: left;
    color: rgba(255, 0, 0, 0.59);
    background-color: rgba(255, 0, 0, 0.07);
}

.notification {
    text-align: left;
    color: rgb(15, 100, 10);
    background-color: rgba(0, 255, 0, 0.19);
}

div.form-group {
    display: block;
    text-align: left;
}

div.form-group-center {
    padding: 3vh 2vw 0 2vw;
    text-align: center;
}

input {
    background-color: rgba(0, 0, 0, 0.1);
    height: 25px;
    min-width: 10vw;
    border-radius: 6px;
    margin: 8px 0 8px 0;
}

div.form-group input {
    display: block;
    min-width: 30vw;
}

input.submit {
    margin: 2vh 2vw 2vh 0;
    min-width: 7vw;
    max-width: 15vw;
    height: 30px;
    background-color: #0000af;
    color: #e5e5e5;
    border-radius: 6px;
}

textarea {
    font-family: Calibri;
    background-color: rgba(0, 0, 0, 0.1);
    min-width: 30vw;
    min-height: 20vh;
    border-radius: 6px;

}

#q {
    height: 35px;
    min-width: 30vw;
    margin: 0 2vw 0 0;
}

.grid {
    display: grid;
    margin: 2vh 2vw 2vh 2vw;
    padding: 1vh 1vw 1vh 1vw;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 7px 7px;
}

.card {
    width: 1fr;
    display: grid;
    grid-gap: 2px 2px;
    border: 2px solid #0000af;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
}

.icon {
    width: 2fr;
    height: 5fr;
}

.text {
    width: 3fr;
    height: 5fr;
}

.duration {
    color: slategrey;
}

.shows {
    padding: 0 0 3vh 0;
    text-align: left;
}

.showing {
    border: 2px solid #001175;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 1vw;
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

#extend-button-div {
    text-align: center;
}

button#extend-button {
    background-color: #0000af;
    color: #e5e5e5;
    min-height: 30px;
    min-width: 130px;
    border: 1px solid;
    border-radius: 6px;
    text-align: center;
}

button#extend-button:hover {
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 1.5vh;
    padding-left: 5px;
    min-width: 100vw;
    background-color: #0000af;
    min-height: 4vh;
}
