{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block main %}
    <h1> About TheatreL33t </h1>
    <div class="container">
        <h3>
            TheatreL33t is a POC movie ticket booking system. Rated: Elite.<br>
            An Akash B production.
        </h3>

        <div class="humour" style="text-align: left; position: absolute;">
            <h4>Starring:</h4>
            <ol>
                <li>Legendary... Code (Python Flask)</li>
                <li>Earth-shattering... Graph Database (Neo4j)</li>
                <li>Jaw-dropping... HTML5/CSS3</li>
                <li>Trendy... Title recommendations</li>
                <li>Mind-bending... Lists</li>
            </ol>


            <span class="logo" style="position: absolute;">This is TheatreL33t.</span>
        </div>

    </div>

{% endblock %}