{% extends "layout.html" %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Home
    {% endif %}
{% endblock %}

{% block main %}
    {% if query %}
        <h3>&ldquo;{{ query }}&rdquo; - Search Results</h3>
    {% endif %}

    {% include "errors-layout.html" with context %}

    <div class="search">
        <form method="GET" action={{ url_for("search") }}>
            <div class="form-group-center">
                <input type="search" class="form-control" name="q" id="q" placeholder="Browse..."
                       aria-label="Browse Films" value="{{ query }}" required>
                <input type="submit" class="submit" id="submit" value="Go" aria-label="Browse"/>
            </div>
        </form>

    </div>

    {% if films %}
        <div class="grid">
            {% for film in films %}
                <div class="card">
                    <a href="/{{ film.title }}/showings">
                        <div class="icon">
                            <img src={{ film.icon | safe }}>
                        </div>
                    </a>

                    <div class="text">
                        <strong><a href="/{{ film.title }}/showings">
                            <span class="topic-title">{{ film.title | safe }}</span>
                        </a></strong>
                        <br>
                        <span class="topic-description">{{ film.description | safe }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="container">
            <b>Sorry! No matching results found!</b>
        </div>
    {% endif %}

{% endblock %}