{% extends "layout.html" %}

{% block title %}
    {{ film.title }} Shows
{% endblock %}

{% block main %}
    <div class="container">
        <div class="title">
            <big><strong>{{ film.title }}</strong></big>
            <span class="right duration"><small>{{ film.duration }} mins</small></span>
        </div>

        <div class="shows">
            <ol>
                {% for date, shows in available.items() %}
                <li>
                    <div class="showing">
                        <h4>{{ date }}</h4>
                        {% for show in shows %}
                            <a href="../{{ film.title }}/{{ show.uuid }}/book">{{ show.start }}</a>
                            <span class="right">Tickets available: {{ show.num_available }}</span> <br>
                        {% endfor %}
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}