{% extends "layout.html" %}

{% block title %}
    Booking Summary
{% endblock %}

{% block main %}
    {% include "errors-layout.html" with context %}
    <div class="container">
        <h3>Booking Summary</h3>
        <div class="confirmation">
            <table class="confirmation">
                {% for heading, value in table.items() %}
                    <tr>
                        <th class="confirmation">{{ heading.title() }}</th>
                        <td class="confirmation">{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <a href="{{ url_for("book", title=table.movie, uuid=uuid) }}"><< Back to booking</a>

        {% if recommendations %}
            <br>
            <div class="recommendations">
                <h4>Customers who liked this also liked:</h4>
                <ol>
                    {% for movie in recommendations %}
                        <li>
                            <a href="{{ url_for("showings", title=movie.title) }}">{{ movie.title }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}

    </div>
{% endblock %}